@tailwind base;
@tailwind components;
@tailwind utilities;




thead {
    @apply bg-gray-400
}

td,th {
    @apply text-left p-3
}

tbody tr:nth-child(odd){
    @apply bg-gray-100
}


button {
    @apply px-6 rounded py-2
}

.btn-primary {
    @apply bg-emerald-500 text-white;
}

.btn-secondary {
    @apply bg-amber-400 text-white;
}

.modal {
    @apply fixed h-full w-full left-0 top-0 overflow-auto;
    background-color: rgba(0,0,0, 0.6);
}

.asc:after{
    content: "\25B2"
}

.desc:after{
    content: "\25BC"
}