<template>
    <div>
        <div class="bg-teal-800 ">
            <div class="container text-center mb-12 flex justify-between px-12 items-center">
                <a class="text-2xl text-white" href="/">Home</a>
                <h1 class="text-4xl font-bold text-white p-2">Exakta Ticket System</h1>
                <button @click="openNewTicketModal" class="btn-primary">Create new ticket</button>
            </div>
        </div>

        <div class="container mx-auto">
            <div class="w-full">
                <label for="filter">Filter:</label>
                <select 
                    v-model="filter"
                    @change="fetchTickets"
                    id="filter" 
                    class="mb-4 p-1"
                >
                    <option 
                        v-for="(option, index) in filterOptions"
                        :key="option + index"
                        :value="option.value"
                        class="capitalize"
                    >
                        {{ option.name }}
                    </option>
                </select>
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th 
                                @click="sort('id')"
                                class="cursor-pointer"
                                :class="[sortBy === 'id' ? sortDirection : '']"
                            >
                                ID
                            </th>
                            <th 
                                @click="sort('name')"
                                class="cursor-pointer"
                                :class="[sortBy === 'name' ? sortDirection : '']"
                            >
                                Name
                            </th>
                            <th>
                                Text
                            </th>
                            <th 
                                @click="sort('date')"
                                class="cursor-pointer"
                                :class="[sortBy === 'date' ? sortDirection : '']"
                            >
                                Date
                            </th>
                            <th 
                                @click="sort('status')"
                                class="cursor-pointer"
                                :class="[sortBy === 'status' ? sortDirection : '']"
                            >
                                Status
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                            v-for="(ticket, index) in sortedTickets"
                            :key="'ticket-' + index"
                        >
                            <td>
                                {{ ticket.id }}
                            </td>
                            <td>
                                {{ ticket.name }}
                            </td>
                            <td>
                                {{ truncate(ticket.description, 15) }}
                            </td>
                            <td>
                                {{ ticket.updated_at.substr(0, 10) }}
                            </td>
                            <td class="capitalize">
                                {{ ticket.status }}
                            </td>
                            <td>
                                <span class="cursor-pointer" @click="editTicket(ticket)">
                                    <i class="text-amber-400 mr-2 fas fa-edit"></i>
                                </span>
                                <span class="cursor-pointer" @click="deleteTicket(ticket.id)" >
                                    <i class="text-red-400 far fa-times-circle"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="!tickets.length" class="text-center p-12 italic flex flex-col">
                    <p>There are unforunately no tickets!</p>
                    <i class="far fa-frown text-4xl"></i>
                </div>
            </div>

            <div
                v-if="showNewTicketModal"
                class="modal"
            >
                <div class="flex justify-center w-2/3 xl:w-1/2 mx-auto">
                    <div class="w-full border-2 p-8 shadow-xl mt-24 mb-12 mr-4 bg-gray-100">
                        <div class="flex justify-between">
                            <h4 class="font-bold text-xl mb-4">New ticket</h4>
                            <i @click="closeNewTicketModal" class="cursor-pointer text-xl text-black fas fa-times"></i>
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="name">Name</label>
                            <input id="name" class="mb-8 p-2" v-model="newTicket.name" type="text">

                            <label for="description">Description</label>
                            <textarea id="description" class="p-2" rows="6" v-model="newTicket.description" type="text"></textarea>
                        </div>

                        <div class=" mb-8">
                            <label for="files">Files</label>
                            <input type="file" @change="selectFile" multiple>
                        </div>

                        <div class="">
                            <button @click="postTicket(newTicket)" class="btn-primary">Upload</button>
                        </div>
                    </div>        
                </div>
            </div>

            <div
                v-if="showEditTicketModal"
                class="modal"
            >
                <div class="flex justify-center w-2/3 xl:w-1/2 mx-auto">
                    <div class="w-full border-2 p-8 shadow-xl mt-24 mb-12 mr-4 bg-gray-100">
                        <div class="flex justify-between">
                            <h4 class="font-bold text-xl mb-4">Current Ticket <span class="capitalize">({{ this.currentTicket.status }})</span></h4>
                            <i @click="closeEditTicketModal" class="cursor-pointer text-xl text-black fas fa-times"></i>
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="name-current">Name</label>
                            <input id="name-current" class="mb-8 p-2" v-model="currentTicket.name" type="text">

                            <label for="description-current">Description</label>
                            <textarea id="description-current" class="p-2 mb-8" rows="6" v-model="currentTicket.description"></textarea>

                            <div 
                                v-if="this.currentTicket.attachments != null"
                                class="flex flex-wrap mb-8"
                            >
                                <a 
                                    v-for="(image, index) in decodeImages()"
                                    :href="image"
                                    :key="'image-' + index"
                                    class="w-1/2 px-1 pb-2"
                                    target="_blank"
                                >
                                    <div class="relative">
                                        <img
                                            :src="image"
                                            class="w-full h-auto"
                                        >
                                        <span class="text-white absolute top-0 right-0 mr-2" @click="removeImage(index, $event)">Remove</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class=" mb-8">
                            <label for="files">Files</label>
                            <input type="file" @change="selectFile" multiple>
                        </div>

                        <div class="mb-8 w-full flex">
                            <button @click="updateTicket(currentTicket)" class="btn-primary mr-4">Update ticket</button>
                            <button @click="toggleTicketStatus(currentTicket.id)" class="btn-secondary">{{ openOrClose }}</button>
                        </div>

                        <div class="flex flex-col mb-4">
                            <label for="comment">Comment</label>
                            <textarea id="comment" class="p-2" rows="4" v-model="comment.comment"></textarea>
                        </div>
                        <button @click="postComment()" class="btn-primary mb-8">Post comment</button>

                        <h4 class="mb-4 font-bold text-lg">Kommentarer</h4>
                        <div class="flex flex-wrap">
                            <div 
                                v-for="(comment, index) in this.currentTicket.comments"
                                class="mb-4 border-b border-gray-300 w-full flex-col pb-2 pt-2 pr-2"
                                :key="'comment-' + index"
                            >
                                <span class="font-bold w-full">{{ comment.author }}</span>
                                <p>{{ comment.comment }}</p>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Default',

    components: {},

    data: () => ({
        tickets: [],
        newTicket: {
            name: '',
            description: '',
            attachments: null,
        },  
        files: [],
        currentTicket: {},
        comment: {
            comment: '',
            author: '',
            ticket_id: null,
        },
        showNewTicketModal: false,
        showEditTicketModal: false,
        sortBy: null,
        sortDirection: 'asc',
        filter: 'all',
        filterOptions: [
            {
                value: 'all',
                name: 'All'
            },
            {
                value: 'pending',
                name: 'Pending'
            },
            {
                value: 'done',
                name: 'Done'
            },
        ]
    }),  
    
    computed: {
        sortedTickets() {
            return this.tickets.sort((ticket1, ticket2) => {
                let modifier = 1;
                if(this.sortDirection === 'desc') modifier = -1;
                if(ticket1[this.sortBy] < ticket2[this.sortBy]) return -1 * modifier; if(ticket1[this.sortBy] > ticket2[this.sortBy]) return 1 * modifier;
                return 0;
            });
        },

        openOrClose() {
            if(this.currentTicket.status === 'pending') {
                return 'Close ticket';
            } else {
                return 'Re-open ticket';
            }
        },
    },

    mounted() {
        this.fetchTickets();
    },

    methods: {
        
        sort(sorting) {
            if(sorting === this.sortBy) {
                this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
            }
            this.sortBy = sorting;
        },
        openNewTicketModal() {
            this.showNewTicketModal = true;
        },
        closeNewTicketModal() {
            this.showNewTicketModal = false;
            this.clearNewTicketForm();
        },
        clearNewTicketForm() {
            this.newTicket.name = '';
            this.newTicket.description = '';
            this.newTicket.attachments = null;
            this.files = null;
        },
        openEditTicketModal() {
            this.showEditTicketModal = true;
        },
        closeEditTicketModal() {
            this.showEditTicketModal = false;
            this.clearEditTicketForm();
        },
        clearEditTicketForm() {
            this.currentTicket.name = '';
            this.currentTicket.description = '';
            this.currentTicket.attachments = null;
            this.comment.comment = null;
            this.files = null;
        },
        clearComment() {
            this.comment.comment = '';
        },
        truncate(string, number){
            return (string.length > number) ? string.substr(0, number-1) + '...' : string;
        },
        selectFile(event) {
            this.files = event.target.files;
        },
        decodeImages() {
            var imagePaths = JSON.parse(this.currentTicket.attachments);
            var correctPaths = [];
            imagePaths.forEach(image => {
                var url = window.location.href + 'storage/' + image;
                correctPaths.push(url);
            });
            
            return correctPaths;
        },

        removeImage(index, e) {
            e.preventDefault();
            var images = JSON.parse(this.currentTicket.attachments);
            images.splice(index, 1);
            this.currentTicket.attachments = JSON.stringify(images);
        },

        editTicket(ticket) {
            this.openEditTicketModal();
            this.currentTicket = JSON.parse(JSON.stringify(ticket));
            this.comment.ticket_id = ticket.id;
            this.comment.author = ticket.name;
        },

        prepareFormData(ticket) {
            const data = new FormData();
            if(this.files != null) {
                for (let i = 0; i < this.files.length; i++) {
                    data.append('file[]', this.files[i]);
                }
            }
            
            const json = JSON.stringify({
                name: ticket.name,
                description: ticket.description,
                attachments: ticket.attachments,
            });

            data.append('data', json);

            return data;
        },
        
        async updateTicket(ticket) {
            const data = this.prepareFormData(ticket);       
            
            // have to use POST instead of PUT otherwise the formData will not send properly
            axios.post('api/ticket/' + ticket.id, data).then( response => {
                if(response.status == 200) {
                    this.fetchTickets();
                    this.closeEditTicketModal();
                }
            })
            .catch( error => {
                console.log(error);
            });
        },

        async toggleTicketStatus(id) {
            axios.put('api/ticket/status/' + id).then( response => {
                if(response.status == 200) {
                    this.fetchTickets();

                    if(response.data.status === 'done') {
                        this.closeEditTicketModal();
                    }

                    if(response.data.status === 'pending') {
                        this.currentTicket.status = response.data.status;
                    }
                }
            })
            .catch( error => {
                console.log(error);
            });
        },
        async filterTickets() {            
            axios.get('/api/filter?value=' + this.filter).then((response) => {
                this.tickets = response.data;
                console.log(response.data, 'data');
            });
        },
        async fetchTickets() {
            if(this.filter != "all") {
                this.filterTickets();
            } else {
                axios.get('/api/tickets').then((response) => {
                    this.tickets = response.data;
                });
            }
        },

        async postTicket(ticket) {
            const data = this.prepareFormData(ticket);

            axios.post('api/ticket/store', data).then( response => {
                if(response.status == 201) {
                    this.fetchTickets();
                    this.closeNewTicketModal();
                }
            })
            .catch( error => {
                console.log(error);
            });
        },

        async postComment() {
            axios.post('api/comment/store', {
                comment: this.comment
            }).then( response => {
                if(response.status == 201) {
                    this.updateComments(this.currentTicket.id);
                }
            })
            .catch( error => {
                console.log(error);
            });
        },
        async updateComments(id) {
            axios.get('api/ticket/' + id).then( response => {
                if(response.status == 200) {
                    this.currentTicket.comments = response.data.comments;
                    this.clearComment();
                }
            })
            .catch( error => {
                console.log(error);
            });

        },
        async deleteTicket(id) {
            if(confirm('Are you sure you want to delete this ticket?')) {
                axios.delete('api/ticket/' + id).then( response => {
                if(response.status == 200) {
                    this.fetchTickets();
                }
            })
            .catch( error => {
                console.log(error);
            });
            } 
        },

    },
}

</script>
